* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    padding: 15px 0px;
}

header .container {
    max-width: 1500px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper>div:first-child {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-wrapper>div:first-child nav {
    display: flex;
    gap: 20px;
}

.header-wrapper>div:last-child {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-wrapper a {
    color: #5C5F6E;
}

.my-btn {
    padding: 10px 30px;
    border-radius: 12px;
    font-weight: 600;
    display: inline-block;
}

.border-btn {
    background-color: transparent;
    border: 2px solid black;
    color: #333333 !important;

}

.solid-btn {
    background-color: #651FFF;
    color: #ffffff !important;
    border: 2px solid;
}

/* Media quary */
/* @media only screen and (max-width: 768px) {
    
} */